<h1>GET Request Received</h1>
<table style="border-style: solid;">
    <caption>URL Parameter Table</caption>
    <thead>
        <tr>
            <th style="border-style: solid;">Key</th>
            <th style="border-style: solid;">Value</th>

        </tr>
    </thead>
    <tbody>
        {{#each dataList}}  
            <tr>
                <td style="border-style: solid;">{{this.name}}</td>
                <td style="border-style: solid;">{{this.value}}</td>
            </tr>>
        {{/each}}
    </tbody>
</table>