<h1>POST Request Received</h1>
<table>
    <caption>URL Parameter Table</caption>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each urlList}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.value}}</td>
            </tr>>
        {{/each}}
    </tbody>
</table>

<table>
    <caption>POST Body Parameter Table</caption>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{#each bodyList}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.value}}</td>
            </tr>>
        {{/each}}
    </tbody>
</table>