<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Counts</title>
    </head>
    <body> 
        <h1>The random number is {{{counts}}} </h1>
        <form action="/counts" method="post">
	        <input type="submit" name="command" value="resetCounter">
        </form>
    </body>
</html>
